.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  text-align: center;
  padding: 0 10px;
}

h1 {
  font-size: 10vw;
  margin-bottom: 90px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 90%;
}

ion-label {
  font-size: 1.2rem;
  text-align: center;
  width: 100%;
}

ion-input, ion-button {
  width: 35%;
  margin-top: 20%;
}

@media (orientation: landscape) {
  h1 {
    font-size: 6vh;
    margin-bottom: 45px;
  }
  ion-label {
    font-size: 1 rem;
    text-align: center;
    width: 100%;
  }
  ion-button {
    width: 35%;
    margin-top: 5%;
  }
}